<!DOCTYPE html>
<html>
<head>
  <title>Twipper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background: url(/assets/color_background_2.png);">

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Twipper", root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
		<% if !user_signed_in? %>
	        <li>
	        	<%= link_to "Sign up", new_user_registration_path %>
	        </li>
	       	<li>
	        	<%= link_to "Sign In", new_user_session_path %>
	        </li>
	    <% else %>
	        <li>
        		<%= link_to "New Tweet", new_tweet_path %>
        	</li>
	    	<li>
	    		<%= link_to "News Feed", tweets_path %>
	    	</li>
	    <% end %>

      </ul>

      <ul class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>
        	<li>
        		<%= link_to "My Profile", new_profile_path %>
        	</li>
	        <li>
	        	<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
	        </li>
	    <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

<%= yield %>

</body>
</html>
