<!DOCTYPE html>
<html>
<head>
  <title>Twipper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% if params[:controller] == 'static_pages' %>
  <body class="static_page">
<% else %>
  <body class="functionality_page">
<% end %>

    <%= render 'layouts/navbar' %>
      <%if flash.any? %>
        <div class="container lower_flash">
          <% flash.each do |key, value| %>
              <% if !value.blank? %>
                <div class="alert alert-<%= key %>"><%= value %></div>
              <% end %>
          <% end %>
        </div>
      <% end %>
      <%= yield %>

  </body>
</html>
